body {
  overflow-x: hidden;
}

@font-face {
  font-family: myFirstFont;
  src: url(../Font/EurostileBold.ttf);
}

/* Toogle CheckBox */
.togle {
  position: absolute;
  right: 20px;
  /* top: 10px; */
  transform: rotate(45deg);
}

.dark {
  background-color: #202838;
  color: #fff !important;
  transition: 0.3s ease-in-out;
}

.light {
  background-color: #ffe082;
  color: #141c3a;
  transition: 0.3s ease-in-out;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #ffecb3; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 0 #2196f3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input + .slider.round:before {
  font-size: 25px;
  background: transparent;
  content: '\1F31E';
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked + .slider.round:before {
  font-size: 25px;
  background: transparent;
  content: '\1F319';
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
    transform: translateX(60px);
  }
}

#head .row {
  align-items: center;
}

#head h1 {
  font-family: myFirstFont;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 15px;
  text-align: center;
}

#head h2 {
  font-family: myFirstFont;
  /* color: #141c3a; */
  font-weight: 700;

  text-align: center;
}

#head img {
  display: block;
  margin: 0 auto;
  height: 430px;
}

.scroll-downs {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 50px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.about {
  margin: 80px auto;
}

.about .container {
  padding: 40px;
}

.about h1 {
  text-align: center;
  font-family: myFirstFont;
  font-weight: 800;
  margin: 50px auto;
  font-size: 50px;
  border-bottom: 3px solid #7510f7;
  width: fit-content;
}

.about h2 {
  font-family: myFirstFont;
  font-weight: 800;
}

.about p {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  /* color: #141c3a; */
}

.about img {
  margin: 0 auto;
  display: block;
}

.about .row {
  justify-content: center;
  margin: 5px auto;
}

.about .row a {
  font-size: 22px;
  color: #ffffff;
  padding: 0 15px;
  background: #7510f7;
  margin-right: 3px;
  border-radius: 5px;
  margin-top: 15px;
}

.about #resume {
  text-decoration: none;
  padding: 8px 16px;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

.about #resume:hover img {
  animation: upDown 1s ease-in-out infinite -50ms;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.about #resume img {
  height: 16px;
  display: inline-block;
}

.myWorks {
  margin: 80px auto;
}

.myWorks .card {
  cursor: not-allowed;
}

.myWorks .col-sm-4 {
  width: 350px !important;
  height: 250px !important;
}

.myWorks .card::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s linear;
}

.myWorks .card:hover:before {
  background: rgba(1, 53, 84, 0.7);
}

.myWorks .card:hover img {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.myWorks #overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.myWorks #overlay {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid #7510f7;
  border-radius: 40px;
  padding: 8px 12px;
  display: block;
  width: 180px;
  text-align: center;
  background: #7510f7;
  visibility: hidden;
}

.myWorks .card:hover #overlay {
  visibility: visible;
  transition: all 0.3s linear;
}

.myWorks h1 {
  text-align: center;
  font-family: myFirstFont;
  font-weight: 800;
  margin: 40px auto;
  font-size: 50px;
  border-bottom: 3px solid #7510f7;
  width: fit-content;
}

.myWorks h5 {
  font-size: 20px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.myWorks .card {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  width: 350px !important;
}

.myWorks .card .btn {
  background: #7510f7;
  border: none;
  color: #ffffff;
}

.myWorks .card-title {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

.myWorks .card-text {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

.myWorks .row .card {
  margin-bottom: 50px;
}

.myWorks .row .card img {
  display: inline-block;
  cursor: pointer;
}

.myWorks .row .card img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  opacity: 0.2;
}

#myWorks .col-sm-4 {
  display: none;
}

#myWorks .load {
  margin: 15px auto;
  text-align: center;
}

.myWorks .ongoing {
  cursor: not-allowed !important;
}

#loadMore {
  color: #7510f7;
  text-decoration: none;
  background: #ffffff;
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px solid #7510f7;
  font-weight: 600;
  width: 180px;
}

.mySkills {
  text-align: center;
  background: #7510f7;
  height: 500px;
}

#mySkills {
  padding: 25px;
  margin-top: -450px;
  /* background: #fff; */
  border-radius: 15px;
}

#mySkills h1 {
  margin: 50px auto;
  text-align: center;
  font-family: myFirstFont;
  font-weight: 800;
  font-size: 50px;
  border-bottom: 3px solid #7510f7;
  width: fit-content;
}

#mySkills .col-sm-3 {
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
}

#mySkills h3 {
  font-family: myFirstFont;
  font-weight: 800;
  /* color: #7510F7; */
}

#mySkills ul {
  list-style-type: none;
  /* padding-left: 0; */
  padding: 35px;
}

#mySkills ul li img {
  height: 25px;
  width: 25px;
  margin-bottom: 0;
  margin-right: 25px;
  float: left;
}

#mySkills ul li {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  margin: 3px auto;
  text-align: justify;
}

#mySkills img {
  margin-bottom: 20px;
}

.services {
  margin: 100px auto 150px;
}

.services .col-sm-4 {
  box-shadow: 5px 5px 10px #f0f0f0, -5px -5px 10px #ffffff;
  padding: 25px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.services h2 {
  text-align: center;
  font-family: myFirstFont;
  font-weight: 800;
  margin: 50px auto;
  font-size: 42px;
  border-bottom: 3px solid #7510f7;
  width: fit-content;
}

.services .row {
  justify-content: space-around;
}

.serviceImg img {
  margin: 15px auto;
  display: block;
}

.services h3 {
  text-align: center;
  font-weight: 800;
}

.services p {
  text-align: center;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.collab {
  margin: 100px auto;
}

.collab .row {
  align-items: center;
  justify-content: space-evenly;
}

.collab h3 {
  /* color: #141c3a; */
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.collab img {
  width: 150px;
  margin: 50px auto;
  display: block;
  cursor: pointer;
}

.contact {
  text-align: center;
}

.contact h5 {
  /* color: #141c3a; */
  font-weight: 800;
  margin: 15px auto;
  font-size: 26px;
}

.contact p {
  font-size: 20px;
  /* color: #141c3a; */
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}

.contact .contactBtn {
  margin: 50px auto;
}

.contact .contactBtn a {
  text-decoration: none;
  color: #7510f7;
  padding: 10px 25px;
  border: 2px solid #7510f7;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
}

.contact .contactBtn a:hover {
  color: #ffffff;
  background: #7510f7;
  transition: 0.3s ease;
  border: none;
}

.footer {
  background: #7510f7;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100px;
  margin-top: 150px;
}

.box h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 2rem;
  font-family: myFirstFont;
}

.box p {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.box a {
  text-decoration: none;
  padding: 12px 35px;
  font-weight: 400;
  color: #ffffff;
  border: 1.5px solid #7510f7;
  border-radius: 40px;
  font-size: 1.25rem;
  font-family: 'Nunito Sans', sans-serif;
}

.box a:hover {
  background: #7510f7;
  color: #ffffff;
  transition: 0.3s ease;
}

/* Contcat */
#navbar {
  margin-bottom: 65px;
}

#navbar .row {
  justify-content: space-between;
  align-items: center;
}

#navbar .row a {
  font-size: 28px;
  text-decoration: none;
  color: #7510f7;
  outline: none;
}

#contact {
  margin-top: -110px;
}

.contact .container {
  padding: 35px 25px;
}

.contact .container h1 {
  font-family: myFirstFont;
  font-size: 42px;
  margin-bottom: 50px;
}

.contact form {
  width: 950px;
  margin: 0 auto;
}

.contact input[type='text'] {
  height: 45px;
  width: 350px;
  display: inline-block;
  margin: 15px 0;
  padding: 0 25px;
  outline: none;
  border: 1.5px solid #7510f7;
  border-radius: 5px;
}

.contact input[type='email'] {
  height: 45px;
  width: 350px;
  display: inline-block;
  margin: 15px 0;
  padding: 0 25px;
  outline: none;
  border: 1.5px solid #7510f7;
  border-radius: 3px;
}

.contact textarea {
  display: block;
  width: 700px;
  margin: 0 auto;
  padding: 20px 25px;
  outline: none;
  border: 1.5px solid #7510f7;
  border-radius: 3px;
}

#contact a {
  color: #fff;
  background: #7510f7;
  border-radius: 3px;
  padding: 8px 12px;
  margin: 20px auto;
  display: block;
  width: 180px;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}

/* Testimonial */
#testimonial h1 {
  font-family: myFirstFont;
  font-size: 42px;
  margin-bottom: 50px;
  text-align: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 768px;
  margin: 0 auto;
}

.feedback {
  position: relative;
}

.feedback img {
  height: 60px;
  position: absolute;
  top: -40px;
  left: 50px;
}

.feedback p {
  font-size: 18px;
  font-weight: 300;
}

.name {
  padding-top: 15px;
}

.role {
  padding-left: 10px;
  color: grey;
  font-size: 14px;
}

.slider-container {
  position: relative;
}

.navigation {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
  right: 160px;
}

.navigation img {
  cursor: pointer;
  padding: 8px 10px 5px 10px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px !important;
  }

  .main {
    margin-top: 150px;
  }

  .togle {
    position: absolute;
    right: 28px;
    top: 10px;
    transform: rotate(45deg);
  }

  #head img {
    height: 300px;
  }

  #head h1 {
    font-size: 36px;
  }

  #head h2 {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .about img {
    margin-bottom: 30px;
  }

  .about .row {
    margin-bottom: 30px;
  }

  #myWorks .row {
    margin: 0 auto;
  }

  #mySkills .col-sm-3 {
    margin-bottom: 30px;
  }

  #mySkills h3 {
    font-size: 1.5rem;
  }

  .services .col-sm-4 {
    margin: 18px;
  }

  .services h3 {
    font-size: 1.4rem;
  }

  .collab h3 {
    font-size: 1.3rem;
  }

  .footer {
    height: 500px;
  }

  .footer .container {
    padding: 0 !important;
  }

  .footerInfo {
    width: fit-content;
    margin-top: 140px;
  }

  .footerInfo h2 {
    font-size: 22px;
  }

  .slider-container {
    flex-direction: column;
    width: 350px;
  }

  .feedback {
    text-align: center;
    margin-top: 50px;
  }

  .feedback img {
    left: 40%;
  }

  .role {
    display: block;
  }

  .navigation {
    position: relative;
    right: 0;
    bottom: 40px;
  }

  .contact {
    margin-top: 50px !important;
  }

  .contact form {
    width: auto !important;
  }

  .contact .container h1 {
    font-size: 20px !important;
  }

  .contact input[type='text'],
  .contact input[type='email'] {
    display: block;
  }

  .contact textarea {
    display: block;
    width: 350px;
    margin: 0;
  }

  #navbar .row {
    margin: 5px;
  }

  #resume img {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 320px) {
  .main {
    margin-top: 120px;
  }

  .togle {
    margin-right: 30px;
  }

  #head img {
    height: 200px;
  }

  .about h2 {
    font-size: 1.6rem;
  }

  #resume img {
    margin-bottom: 0;
    margin-right: 5px;
  }

  .myWorks .card {
    width: 250px !important;
  }

  .myWorks .col-sm-4 {
    margin: 0 auto;
    width: unset !important;
    height: unset !important;
  }

  .slider-container {
    width: 250px;
  }

  .slider-container .image img {
    width: 250px !important;
  }

  .contact {
    margin-top: 50px !important;
  }

  .contact form {
    width: auto !important;
  }

  .contact .container h1 {
    font-size: 20px !important;
  }

  .contact input[type='text'],
  .contact input[type='email'] {
    width: 270px;
    display: block;
  }

  .contact textarea {
    display: block;
    width: 270px;
  }
}

.sun {
  animation: shadow-pulse-sun 1s infinite;
  border-radius: 50px;
}

@keyframes shadow-pulse-sun {
  0% {
    box-shadow: 0 0 0 0px #f9d71c;
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

.moon {
  animation: shadow-pulse-moon 1s infinite;
  border-radius: 50px;
}

@keyframes shadow-pulse-moon {
  0% {
    box-shadow: 0 0 0 0px #ffffff;
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}
